@import "base";

// jquery listnav
@import "../../../bower_components/jquery-listnav/scss/listnav";

// jquery datatables
@import "datatables.bootstrap";
@import "../../../bower_components/datatables-responsive/css/dataTables.responsive";

//Custom CSS for the frontend

//
//== Misc
//
// Weird bootstrap override
td a.show {
	display: inline !important;
}
// Don't wrap btn-group in a popover
.popover .btn-group {
  white-space: nowrap;
  .btn {
    float: none;
    display: inline-block;
  }
}
.modal-body .img-responsive {
	margin: 0 auto;
}
// .panel {
// 	border-right: none;
// 	border-left: none;
// }


//
//== Navs & Navbar
//
.nav {
	li {
		padding-left: 0px;
		padding-right: 0px;
		a {
			text-align: center;
			p {
				//overflow: hidden;
				text-transform: uppercase;
				white-space:nowrap;
				margin-bottom: 0px;
				@media(max-width: $screen-sm-max){
					font-size: 12px;
				}
			}
		}
	}
}
.nav-pills > li + li {//Remove default margin between pills
	margin-left: 0px;
}
.nav-pills > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar {
	margin-bottom: 0px;
	border: 0px; //Remove 1px border on all sides
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	//border-bottom: solid $orange 2px;
	.container {
		@media(min-width: $screen-sm-min){
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: $blue-dark;
	}
	.nav-pills {
		li > a {
			color: $white;
		}
		li > a:hover {
			background-color: $blue-dark;
		}
	}
	.nav-pills > li.active > a {
		// 	box-shadow: inset 0 0 30px rgba(0,0,0,0.25);
		// border-bottom: solid $orange 2px;
	}
}



//
//== Forms
//
form label:hover {
	cursor: pointer;
}

//== Contact
#contact {
	@media (max-width: $screen-sm-max) {
		margin-top: 0px;
	}
	margin-top: 40px;
}
#contact-address {
	border-right: 1px solid $gray-light;
	address {
		font-size: 16px;
		letter-spacing: 0.15em;
		color: $gray-light;
	}
	padding-top: 30px;
	padding-bottom: 30px;
}
#contact-form {
	form {
		color: $gray-light;
		.btn {
			color: $gray-light;
		}
		label {
			text-align: right;
		}
		.row {
			margin-bottom: 10px;
		}
		.formValidator {
			display: none;
		}
	}
}


//
//== Buttons
//
.btn-search {
	@include button-variant($white, $gray-dark, $gray-light);
	text-transform: uppercase;
}

//
//== Content
//
#landing {
	@media (max-width: $screen-xs-max) {
		margin-top: 20px;
	}
	margin-top: 80px;
}
#result-counter {
	color: $gray-light;
}
#search-logo-img {
	height: 33px;
}
#search-input-group {
	@media(min-width: $screen-sm-min){
		padding-left: 0px;
	}
}
ul.pagination {
	display: block;
}


//
// == ListNavs
//

//centering floats is easy if you know how to style the container
.ln-letters {
	display: table;
	margin: 0 auto;
	//width: 100%;
}
.list-group {
	list-style: none;
	margin-top: 10px;
	li {
		border-right: none;
		border-left: none;
	}
}
.ln-letters a {
	display: table-cell;
	//float: none;
	//position: relative;
	//text-align: center;
	//width: 1%;
	//padding: 0 10px;
	border: none;
	border-top: 2px solid $blue-light;
	font-size: 16px;
}
.ln-letters .ln-last{
	border-right: none;
}


//
//== Alerts
//
.alert {
	text-align: center;
}


//
//== Tables
//
table td.nowrap {
	white-space: nowrap;
}
#btn-new-categories, #btn-new-residents, #btn-new-pages, #btn-new-events {
	text-align: center;
	a {
		margin-bottom: 5px;
	}
}


//
//== Events Calendar
//
.calendar-text { margin-top: .3em; }
// .events-anchor {
// 	padding-top: 102px; // navbar + menubar height
// 	margin-top: -102px;
// }


//
// == Sticky Footer
//
$body-padding-top-md : 72px; // the same as navbar height
$body-padding-top-sm: 69px;
$body-padding-top-xs: 50px;
$footer-height: 70px;
$pagination-height: 34px;
$footer-margin-top: 20px + $body-padding-top-md; // the same as navbar margin-bottom + navbar height

//$pagination-height: 34px;

html {
	position: relative;
	min-height: 100%;
}

body {
	// required when .navbar-fixed-top is used
	@media(min-width: $screen-md-min){
		padding-top: $body-padding-top-md;
	}
	@media(max-width: $screen-sm-max){
		padding-top: $body-padding-top-sm;
	}
	@media(max-width: $screen-xs-max){
		padding-top: $body-padding-top-xs;
	}
	/* Margin bottom by footer height */
  margin-bottom: $footer-height + $footer-margin-top - $body-padding-top-md;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $blue-light;
	height: $footer-height;
	margin-top: $footer-margin-top;
	padding-top: 15px;
	//border-top: solid $gray-light 3px;
	.row {
		margin-top: 20px;
	}
	#site-map {
		ul {
			padding-left: 0px;
			li {
				display: inline;
				a{
					text-decoration: none;
					text-transform: uppercase;
					//letter-spacing: 1px;
					color: $white;
				}
			}
			li:before {
				color: $white;
				content: " | ";
			}
			li:first-child:before {
				content: none;
			}
			li:nth-child(5):before {
				content: none;
			}
		}
	}
	#copyright {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		p {
			color: $white;
			text-align: center;
			margin-bottom: 0px;
			@media(max-width: $screen-sm-max){
				font-size: 12px;
			}
		}
	}
	#social-icons {
		text-align: right;
		@media(max-width: $screen-sm-max){
			text-align: center;
		}
		a {
			//display: inline-block;
		}
		a:hover {
			color: $blue-light; // avoid chaging color on hover
		}
	}
}